groq
tavily-python
tavily
pydantic>=2.0
chromadb
requests
beautifulsoup4
scikit-learn
fastapi
uvicorn[standard]
python-multipart
python-dotenv
numpy
pymupdf
pymupdf4llm
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.6.0+cpu
sentence-transformers